@import 'bulma/bulma';

:root {
    --primary-blue: #0033A0;
    --primary-yellow: #FFD700;
  }
  
  body {
    background-color: black;
  }
  
  h1 {
    color: var(--primary-yellow);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  p {
    color: white;
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  
  div p {
    color: black;
    font-size: 1rem;
    margin-bottom: 0;
    text-align: center;
  }
  
  #logo {
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
  
  #nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; /* Add padding for spacing */
    background-color: transparent; /* Set background color to transparent */
  }

  .nav-button {
    flex: 1;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--primary-blue);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}